.team-page .main-wrapper {
    position: relative;
    margin: 0 auto 30px;
    box-shadow: 0 0 20px #000 inset;
    background: no-repeat fixed;
    background-size: 100% 70%;
    height: 300px;
}

.post {
    font-size: 80%;
}

.panel-heading {
    text-align: center;
    border-bottom: 1px solid lightgray;
    margin-bottom: 15px;
    font-size: large;
}

.side-bar .panel-heading {
    text-align: right;
}

.panel {
    text-align: center;
}
.panel table {
    width: 100%;
    text-align: center;
}

.panel th {
    text-align: center;
}

.transparent-title {
    position: absolute;
    bottom: 10px;
    right: 150px;
    padding: 5px 10px;
    margin: 10px;
    /* background-color: darkgray; */
    background-image: url("../images/dark-glass.png");
}

.transparent-title h1 {
    color: white;
    margin: 5px;
}

tr:nth-child(even) {
    background: #CCC;
}

thead {
    /* color: white;
    background: #666; */
    border-bottom: solid 1px gray;
    text-align: center;
}

.game .panel {
    width: 80%;
    margin: 20px auto;
    border: none;
    padding: 10px;
}

.game .panel thead {
    border: none;
    text-decoration: underline;
}

.panel .event {
    table-layout: fixed;
    
    text-align: center;
    margin: auto;
}

.event tr:nth-child(even) {
    background: initial;
}

.nav>li>.tab {
    padding: 20px;
    background-color: #f1f4ff;
    color: black;
    border-bottom: 1px solid #183355;
}

.nav>li>.tab:hover {
    background-color: #486084;
    color: white;
    cursor: pointer;
    border-bottom: 1px solid #183355;
}

.nav>li>.tab-active {
    background-color: #0c3354;
    color: white;
}

.game-item{
    padding: 10px;
}